@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/Mon_University.otf") format("truetype"),
    url("./assets/font/Futuris.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
